html,body {
    overflow-x: hidden; 
}
body {  
    background-size: 100% 100% !important;
    animation: background-change 20s infinite alternate;
}
@keyframes background-change {
    0% {background-image: url(https://i.postimg.cc/d1rSXhY0/city1.jpg);}
    25% {background-image: url(https://i.postimg.cc/2StcSQj6/city2.jpg);}
    50% {background-image: url(https://i.postimg.cc/T2ctDM2B/city3.jpg);}
    75% {background-image: url(https://i.postimg.cc/J44P36G0/city4.jpg);}
    100% {background-image: url(https://i.postimg.cc/d1rSXhY0/city1.jpg);}
}
input {
    background-color: transparent;
    border: transparent;
    font-size: 1.9rem !important;
    caret-color: orangered;
    color: white;
}
input:focus {
    outline: transparent;
}
input::placeholder,h4,h5 {
    color: white !important;
}
.arrows {
    cursor: pointer;
}
.search-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 10px;  
}
.search-button img {
    width: 32px;
    height: 32px;
}
#search-box {
    margin-bottom: 1.4vh;
    background-color: rgba(0, 0, 0, 0.4);
}
#container-box {
    background-color: transparent;
}
#content-box {
    background-color: rgba(0, 0, 0, 0.4);
}
h4,h5 {
    margin: 0 !important;
}
#top-heading {
    display: flex;
    position: absolute;
    top: 1.4vh;
    left: 0.7vw;
    margin: 0;
    color: white;
}
#top-heading #heading-api {
    font-family: 'Russo One', sans-serif;
}
#top-heading #api {
    font-family: 'Sedgwick Ave Display', cursive;
    margin-top: 1.9vh;
}
#temp-box {
    transform: translateX(9.0px);
}
@media all and (max-width: 600px) {
    #container-box {
        width: 100% !important;
    }
}
@media all and (max-width: 900px) and (min-width: 601px) {
    #container-box {
        width: 75% !important;
    }
}